$primary-green: #495E57;
$primary-yellow: #F4CE14;
$off-white: #EDEFEE;
$header-font: 'Markazi Text';
$paragraph-font: 'Karla';

* {
    font-family: $paragraph-font;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 2fr auto;
    grid-template-areas: "nav" "header" "main" "footer";
    gap: 10px;
}

.section {
    grid-column: 3/ span 8;
}

.section:nth-child(even){
    grid-column: 1/ span 12;
    background-color: $off-white;
    margin:  auto -2em;
}

.nav {
    grid-area: nav;
    text-align: center;
    padding: .25em;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: subgrid;
    background-color: $primary-green;
    padding: 1em;
    column-gap: 2em;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 1em;
    padding: 2em;
    margin-top: 3em;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: subgrid;
    background-color: $primary-green;
    text-align: left;
}

.twelve {
    grid-column: 1/ span 12;
}

.eight {
    grid-column: 3/ span 8;
}

.three-span-four {
    grid-column: 3/ span 4;
}

.seven-span-four {
    grid-column: 7/ span 4;
}

img {
    border-radius: 16px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}

button {
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}

h1 {
    font-family: $header-font;
    font-size: 64pt;
    font-weight: 500;
    color: $primary-yellow;
}

h2 {
    font-family: $header-font;
    font-size: 40pt;
    font-weight: 400;
    margin-top: -.5em;
    color: $off-white;
}

h3 {
    font-size: 20pt;
    font-weight: bolder;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-family: $header-font;
    font-size: 20pt;
}