@import "../App.scss";

.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;

    .testimonial-body {
        flex: 1 1;
        display: flex;
        justify-content: center;
    }
}